<div id="principal">
  <h1>Jerome's Projects</h1>
  <div>
    <ul>
      {{#each projects}}
        <li>{{year}}//{{name}}//{{desc}}//
          <img src="{{url}}" alt="{{url}}" class="smallimage" />
        </li>
      {{/each}}
    </ul>
  </div>
</div>