<div id="principal">
  <h1>The Recipes</h1>
  <div>
    <ul>
      {{#each recipes}}
        <li>{{title}} - {{servings}} - {{uid}} - {{desc}}</li>
        <img src="{{img}}" alt="{{img}}" class="smallimage" />
      {{/each}}
    </ul>
  </div>
</div>